#container canvas {
    max-height: 100vh;
    display: none;
}
body {
    overflow: hidden;
    /*background-color: #ccd4ff;*/
    background: #1a0033; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #390080, #29004d 5%, #200039 15%, #1b0033 20%, #0d001a 60%);  
}
.shapes-container {
    transform: translateY(-450px);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}
.bg-img-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.bg-img {
    // position: absolute;
    height: 250px;
    width: auto;
    z-index: 2;
}
.bg-img__skelly {
    align-self: flex-end;
    // bottom: 1.4%;
    // left: 9.1%;
    height: 250px;
    &:hover {
        cursor: pointer;
    }
}
.bg-img__stove {
    align-self: flex-start;
    height: 150px;
    // top: 7.9%;
    // left: 45.5%;
    &:hover {
        cursor: pointer;
    }
}
.bg-img__atm {
    height: 250px;
    &:hover {
        cursor: pointer;
    }
    // top: 24%;
    // right: 7.3%;
}
#bg-img__hidden {
    display: flex;
}
.app {
    height: 1200px;
    overflow: hidden;
}
@media screen and (min-width: 700px) {
    body {
        overflow: hidden;
        // height: 100vh;
        // width: 100vw;
    }
    // .chat-button {
    //     position: absolute;
    // }
    .app {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    }
    #container canvas{
        display: block;
        z-index: 1;
    }
    .bg-img-container {
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        margin: 0;
        top: 0;
        overflow: hidden;
    }
    .bg-img {
        position: absolute;
        width: auto;
        z-index: 2;
        margin-bottom: none;
        max-height: none;
    }
    .bg-img__skelly {
        bottom: 1.4%;
        left: 9.1%;
        height:484px;
    }
    .bg-img__stove {
        height: 226px;
        top: 7.9%;
        left: 45.5%;
    }
    .bg-img__atm {
        height:425px;
        top: 24%;
        right: 7.3%;
    }
    #bg-img__hidden {
        display: none;
    }
}
.shape1 {
    animation: gentle 12s ease-in-out 500ms infinite;
}
@keyframes gentle {
    from { transform: translate(0, 0) rotate(0deg) }
    50% { transform: translate(4px, 22px) rotate(-51deg) }
    to { transform: translate(0, 0) rotate(0deg) }
}
.shape2 {
    animation: gentleer 15s ease-in-out 1000ms infinite;
}
@keyframes gentleer {
    from { transform: translate(0, 0) rotate(0deg) }
    50% { transform: translate(9px, 18px) rotate(41deg) }
    to { transform: translate(0, 0) rotate(0deg) }
}
.shape3 {
    animation: gentler 13s ease-in-out 500ms infinite;
}
@keyframes gentler {
    from { transform: translate(0, 0) }
    25% { transform: translate(4px, 8px) }
    50% { transform: translate(2px, 5px) }
    75% { transform: translate(9px, 3px) }
    to { transform: translate(0, 0) }
}
.shape4 {
    animation: gentlerer 20s ease-in-out 300ms infinite;
}
@keyframes gentlerer {
    from { transform: translate(0, 0) }
    25% { transform: translate(-4px, - 7px) }
    50% { transform: translate(7px, 8px) }
    75% { transform: translate(-5px, 7px) }
    to { transform: translate(0, 0) }
}
.shape5 {
    animation: gentlest 17s ease-in-out 800ms infinite;
}
@keyframes gentlest {
    from { transform: rotate(0deg) translate(0, 0)}
    50% { transform: rotate(-24deg) translate(-2px, 6px) }
    to { transform: rotate(0deg) translate(0, 0) }
}
.shape6 {
    animation: gentlester 19s ease-in-out 200ms infinite;
}
@keyframes gentlester {
    from { transform: rotate(0deg) translate(0, 0)}
    50% { transform: rotate(21deg) translate(10px, 4px) }
    to { transform: rotate(0deg) translate(0, 0) }
}