.chat-form {
    width: 290px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    cursor: text;
}
.chat-form--client {
    background-color:  #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: .6rem .8rem .6rem 1rem;
    font-size: .85em;
}
.chat-form__input {
    width: 80%;
    background: transparent;
    border: none;
    padding-top: .1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    color: #ccc;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 0px #000;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: .95em;
    line-height: 1.2em;
    overflow-y: scroll;
    max-height: 120px;
}
.chat-form__icon {
    cursor: pointer;
    margin-left: 0.7rem;
    font-size: 18px;
    color: #5d00ff;
    &:hover {
        color: #9e66ff
    }
}
.fa-paint-brush-gray {
    color: #ccc;
    transition: all 0.2s;
}
.chat-form__file {
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 40px;
    overflow: hidden;
    background-color: transparent;
    border: 0;
    width:18px;
	opacity:0;
}
.chat-form__file:hover {
    cursor: pointer;
}
.chat-form__submit {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.chat-form__input:focus {
    outline: none;
}
.chat-form__actions {
    display: flex;
    align-items: flex-end;
    border-left: 1px solid #5d00ff;
}