/* Chat Styles*/

#container {
    max-height: 100vh;
}

body {
    overflow: hidden;
    /*background-color: #ccd4ff;*/
    background: #1a0033; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #390080, #29004d 5%, #200039 15%, #1b0033 20%, #0d001a 60%);  
}

.shapes-container {
    transform: translateY(-300px);
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.shape1 {
    animation: gentle 12s ease-in-out 500ms infinite;
}

@keyframes gentle {
    from { transform: translate(0, 0) rotate(0deg) }
    50% { transform: translate(4px, 22px) rotate(-51deg) }
    to { transform: translate(0, 0) rotate(0deg) }
}

.shape2 {
    animation: gentleer 15s ease-in-out 1000ms infinite;
}

@keyframes gentleer {
    from { transform: translate(0, 0) rotate(0deg) }
    50% { transform: translate(9px, 18px) rotate(41deg) }
    to { transform: translate(0, 0) rotate(0deg) }
}

.shape3 {
    animation: gentler 13s ease-in-out 500ms infinite;
}

@keyframes gentler {
    from { transform: translate(0, 0) }
    25% { transform: translate(4px, 8px) }
    50% { transform: translate(2px, 5px) }
    75% { transform: translate(9px, 3px) }
    to { transform: translate(0, 0) }
}

.shape4 {
    animation: gentlerer 20s ease-in-out 300ms infinite;
}

@keyframes gentlerer {
    from { transform: translate(0, 0) }
    25% { transform: translate(-4px, - 7px) }
    50% { transform: translate(7px, 8px) }
    75% { transform: translate(-5px, 7px) }
    to { transform: translate(0, 0) }
}

.shape5 {
    animation: gentlest 17s ease-in-out 800ms infinite;
}

@keyframes gentlest {
    from { transform: rotate(0deg) translate(0, 0)}
    50% { transform: rotate(-24deg) translate(-2px, 6px) }
    to { transform: rotate(0deg) translate(0, 0) }
}

.shape6 {
    animation: gentlester 19s ease-in-out 200ms infinite;
}

@keyframes gentlester {
    from { transform: rotate(0deg) translate(0, 0)}
    50% { transform: rotate(21deg) translate(10px, 4px) }
    to { transform: rotate(0deg) translate(0, 0) }
}

/*
.ellipse {
    position: absolute;
    background: radial-gradient(ellipse, transparent, transparent 7px, black 7px, black 10px, transparent 11px);
    background-size: 36px 40px;
    width: 200px;
    height: 20px;
}

.ellipse2 {
    top: 20px;
    left: 18px;
    background-position: 0px -20px;
}*/


.messages-container {
   
}
.client-messages {
    padding: .75rem .75rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 325px;
}
.chat-window--painting .client-messages {
    height: 385px;
}
.client-messages::-webkit-scrollbar { 
    display: none; 
}
.client-messages__image {
    max-width: 100%;
    /*max-height: 200px;*/
}

.client-messages__item, .client-messages__item--isTyping {
    padding: .35rem 1rem;
    margin-bottom: .7rem;
    border-radius: 6px;
    max-width: 70%;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: .8em;
    line-height: 1.25em;
}
.client-messages__item--client {
    margin-left: auto;
    background-color: #ff457e;
    color: #fff;
}
.client-messages__item--uncle {
    margin-right: auto;
    background-color: #e0e0eb;
}
.client-messages__item--isTyping {
    margin-right: auto;
    content: ' ';
    background-color: #e0e0eb;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    width: 28px;
    min-height: 16px;
    display: flex;
    justify-content: center;
    padding: .5rem .5rem .2rem .5rem;
}
.client-messages__item--isNotTyping {
    visibility: hidden;
    opacity: 0;
    display: none;
    /*height: 0;
    width: 0;*/
    /*transition: all 0.3s;*/
}

/* isTyping animation */
.client-messages__item--isTyping span {
    visibility: inherit;
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    margin: 0 2px;
    background: #9E66FF;
    border-radius: 10px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.8s infinite alternate;
}
.client-messages__item--isTyping span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.client-messages__item--isTyping span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 6px;
    height: 6px;
    border-radius: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 4px;
    height: 4px;
    opacity: 0.4;
    -webkit-transform: translateY(6px);
  }
}


/*.client-messages__item--isTyping:after {
  overflow: hidden;
  display: flex;
  align-items: center;
  -webkit-animation: ellipsis 1000ms steps(4,end) 50ms infinite;      
  animation: ellipsis 1000ms steps(4,end) 50ms infinite;
  content: url('./images/ellipses.svg'); 
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.7em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.7em;    
  }
}*/



/* chat form */
.chat-header--client {
    background-color: #9e66ff;
    height: 40px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 0 .5rem;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.20);
}
.chat-window {
    min-width: 290px;
    height: 400px;
    position: absolute;
    bottom: 80px;
    right: 20px;
    background-color: #f7f7ff;
    border-radius: 5px;
    z-index: 11;
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    cursor: default;
}
.chat-window.chat-window--painting {
    width: 610px;
    height: 460px;
    transition: all 0.3s;
}
.chat-window__chat {
    width: 290px;
    height: 360px;
    max-height: 420px;
}
.chat-window--painting .chat-window__chat {
    height: 420px;
}
.chat-window__content {
    display: flex;
    flex-direction: row;
    height: 360px;
    max-height: 420px;
    /*justify-content: flex-end;*/
}
.chat-window--painting .chat-window__content {
    height: 420px;
}
.chat-window.hidden {
    visibility: hidden;
    opacity: 0.9;
    height: 0;
    width: 0;
    transition: all 0.25s ease-in-out;
}
.uncle-icon {
    background-color: deepskyblue;
    content: '';
    height: 25px;
    width: 25px;
    /*border: solid 1px darkslateblue;*/
    border-radius: 20px;
}
.uncle-name {
    color: white;
    font-family: 'Helvetica', "sans-serif";
    font-weight: 200;
    font-size: .9em;
    margin-left: .5rem;
}
.uncle-status {
    position: absolute;
    right: 12px;
    content: '';
    /*background-color: greenyellow;*/
    /*border: 1px solid greenyellow;*/
    height: 9px;
    width: 9px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.uncle-status--online {
     background-color: #1df737;
}
.uncle-status--offline {
     background-color: #ff237b;
}
.chat-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    content: 'open';
    height: 50px;
    width: 50px;
    background-color: #e1f1ff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
}
.chat-button:hover {
    box-shadow: 0 0 10px 1px #fff;
}
.chat-icon {
    font-size: 1.7em;
    font-weight: 100;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: all 0.3s;
}
.fa-comment {
    transform: rotateY(180deg);
    animation: spin 4s linear infinite;
    color: #9e66ff;
}
.fa-times {
    transform: rotate(360deg);
    transition: all 0.3s;
    color: #300065;
}
@keyframes spin {
    from {transform:rotateY(180deg);}
    to {transform:rotateY(540deg);}
}
.chat-form {
    width: 290px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffdafa;
    padding: 1rem 1rem .5rem 1rem;
    display: flex;
}
.chat-form__input {
    width: 80%;
    background: transparent;
    border: none;
    padding-bottom: .1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    color: #ccc;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 0px #000;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.25em;
    overflow-y: scroll;
    max-height: 120px;
}
.chat-form__icon {
    cursor: pointer;
    margin-left: 0.7rem;
    font-size: 18px;
    color: #9e66ff
}
.painting__icon {

}
.fa-paint-brush-gray {
    color: #ccc;
    transition: all 0.2s;
}
.chat-form__file {
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 40px;
    overflow: hidden;
    background-color: transparent;
    border: 0;
    width:18px;
	opacity:0;
}
.chat-form__file:hover {
    cursor: pointer;
}
.chat-form__submit {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*.panel-container {
    position: absolute;
    z-index: 9999;
    top: 20;
    left: 200;
    background: #fff;
    width: 300;
    height: 500;
}*/


/* throw some drawing shit here*/
.panel-container {
    width: 0;
    visibility: hidden;
	/*border-left: 2px solid #9999ff;*/
	background-color: white;
	text-align:center;
	height: 420px;
    position: relative;
    transition: all 1s;
    z-index: 1;
}
.panel-container--painting {
    width: 320px;
    visibility: visible;
    opacity: 1;
    display: flex;
    height: 420px;
    overflow: hidden;
    transition: all 1s;
    background-color: transparent;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.15); 
}
#panel {
    background-color:transparent;
    visibility: hidden;
    opacity: 0;
}
.panel-container--painting #panel {
    /*position: absolute;*/
    display: flex;
	/*left:0;*/
	width: 280px;
	height: 420px;
	background-color:white;
	cursor:crosshair;
    visibility: visible;
	opacity: 1;
}
.panel-container--painting .options__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options__container {
    position: absolute; 
    display: none;
    right: 0;
	opacity:1;
	z-index: 100;
	background-color: #fefefe;
    box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.15); 
	text-align:center;
	height: 420px;
    width: 40px;
}
.options__color {
	width: 20px;
	height: 20px;
	border: 2px solid #fefefe;
	border-radius: 100%;
	margin: 2px 0;
	transition: all .2s;
	cursor:pointer;
}
.options__size {
	border: 2px solid black;
    background-color: #fff;
	border-radius: 100%;
	margin:4px auto;
	transition: all .2s;
	cursor:pointer;
}
.options__color:hover, .options__size:hover {
	opacity:.75;
}
.options__color--white {
	background-color:white;
    border: solid 2px #fefefe;
}
.options__color--orange {
	background-color:#ff9933;
}
.options__color--yellow {
	background-color:#fbf335;
}
.options__color--green {
	background-color:#00cc66;
}
.options__color--red {
	background-color:#fb4754;
}
.options__color--purple {
	background-color:#9933ff;
}
.options__color--blue {
	background-color:#3366ff;
}
.options__color--black {
	background-color:black;
}
.options__color--active {
	/*border:2px solid #000;*/
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.5);
}
.options__color--white.options__color--active {
	border:2px solid #fefefe;
    color: #bbb;
    box-shadow: none;
}
.options__size--five {
	margin-top:14px;
	width:14px;
	height:14px;
}
.options__size--ten {
	width:16px;
	height:16px;
}
.options__size--twenty {
	width:20px;
	height:20px;
}
.options__size--active {
	border:2px solid lightgray;
}
.options__clear {
	padding:6px 2px 2px;
	cursor:pointer;
    font-family: helvetica;
    font-weight: 100;
    font-size: .9em;
}
.options__file-container {
	position:relative;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.options__file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor:pointer;
}
.options__send, .options__attachment {
    font-size: 20px;    
    margin-bottom: 0.5rem;
    cursor:pointer;
}
input[type="file"] {
    display: none;
}
.chat-form__input:focus {
    outline: none;
}
.chat-form--client {
    background-color:  #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: .6rem .8rem .6rem 1rem;
    font-size: .85em;
}
.chat-form__actions {
    display: flex;
    align-items: flex-end;
    border-left: 1px solid #9e66ff;
}

/* Projects */
.project-single {
	background-color: #fff;
	height: 100px;
	color: #fff;
	/*opacity: .95;*/
	z-index: 99;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
    transform: translateX(0%);
}
.pageSlider-leave {
  transform: translateX(0%);
}
.pageSlider-leave.pageSlider-leave-active {
  transform: translate3d(110%, 0, 0);
  transition: all 500ms;
}
.pageSlider-enter {
  transform: translateX(110%);
}
.pageSlider-enter.pageSlider-enter-active {
  transform: translateX(0%);
  transition: all 500ms;
}
.project-single::before {
    content: '';
}
.project-images__container {
    flex:auto;
    display:flex;
    align-items:center;	
    width: 70%;
    height: 100vh;
}
.project-images {
    cursor: default;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    height: 100%;
}
.project-images__item {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*top: 0;
    left: 0;*/
}
.project-images::-webkit-scrollbar {
    display: none;
}
.project-images__single {
    max-width: 80%;
    max-height: 60%
}
.project-about {
    color: #140026;
	padding: 3%;
	width: 40%;
	background-color: #fff;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1px 0 4px 0 rgba(0,0,0,.2);
    cursor: default;
}
.project-about__heading--primary {
    margin-bottom: 2rem;
    font-size: 1.5em;
    font-weight: 200;
    background: #fff;
    padding: .2rem 1rem .2rem .2rem;
    border-bottom: 1px solid;
}
.project-about__heading--secondary {
    font-size: 1.1em;
    font-weight: 200;
    margin-bottom: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding: 0.15rem 0.7rem 0.15rem 0.15rem
}
.project-about__body {
    font-size: .95em;
    line-height: 1.4em;
    margin-bottom: 1.5rem;
    font-weight: 200;
}
.project-about__link {
    text-decoration: none;
    margin-bottom: .5rem;
    font-weight: 300;
    color: #5d00ff;
}
.project-about__link:visited {
    color: #5d00ff;
}
.project-about__link:hover {
    color: #9e66ff;
}
.project-tech {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}
.project-tech__item {
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.project-tech__link {
    text-decoration: none;
    color: #000;
    display: flex;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    font-size: .95em;
    font-weight: 200;
    padding: .3rem .5rem;
}
.project-tech__link:hover {
    transition: all 0.2s;
    transform: scale(1.1)
}

/* Header */

.header {
	/*background-color: #e1f1ff;*/
	background-color: #fff;
	height: 300px;
	color: #0c1d00;
	/*opacity: 0.95;*/
	z-index: 9;
	position: relative;
	-ms-transform: translateY(calc(-100%));
	-webkit-transform: translateY(calc(-100%));
	transform: translateY(calc(-100%));
	transition: 0.5s;
    cursor: default;
}
.header__top {
	/*background: #ccccff;*/
	background: #fff;
	opacity: 0.95;
	height: 300px;
	z-index: 9;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
}
.header__portrait {
    height: 85%;
    width: auto;
}
// @media screen and (min-width: 1036px) {
//     .header__top {
//         height: 300px;
//     }
//     #container canvas {
//         background-color: transparent;
//         -ms-transform: translateY(-300px); /* IE 9 */
//         -webkit-transform: translateY(-300px); /* Safari */
//         transform: translateY(-300px);
//     }
// }
.header-bio {
    width: 50%;
    padding: 2rem;
    align-self: flex-start;
    height: 85%;
}
.header-bio__name {
    font-size: 1.5em;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 2px #5d00ff;
    color: transparent;
}
.header-bio__name:hover {
    text-shadow: 2px 2px 0 #9e66ff;
    transition: all ease-in-out 0.3s;
}
.header-bio__bio {
    line-height: 1.3rem;
    font-weight: 200;
    /*text-shadow: 1px 1px 2px #000;
    color: transparent;*/
}
/*.header-bio__bio:hover {
    line-height: 1.3rem;
    font-weight: 200;
    text-shadow: 1px 1px 0 #000;
    color: transparent;
}*/
.header-contact {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
}
.header-contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 85%;
    box-sizing: border-box;
}
.header-contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.header-contact__info--item {
    margin-bottom: 1rem;
}
.header-contact__links {
    display: flex;
    align-items: center;
}
.link-icon {
    font-size: 2.5rem;
    text-decoration: none;
    color: #5d00ff;
    cursor: pointer;
}
.link-icon--2 {
    margin-left: 1rem;
}
.link-icon:hover {
    color: #9e66ff;
    transform: scale(1.2);
    transition: all 0.3s;
}
.header:hover {
	-ms-transform: translateY(0); /* IE 9 */
	-webkit-transform: translateY(0); /* Safari */
	transform: translateY(0);
}
.header--stuck:hover {
    -ms-transform: translateY(-100%); /* IE 9 */
	-webkit-transform: translateY(-100%); /* Safari */
	transform: translateY(-100%);
}
.bio__secret { 
    color: transparent;
    margin-top: 1rem;
    font-size: 0.9em;
}
.bio__secret:hover {
    text-shadow: 1px 1px 1px #5d00ff;
    font-size: 0.9em;
    transition: all 0.2s;
}
.bio__super-secret {
    color: transparent;
    text-shadow: none;
}
.bio__super-secret:hover {
    color: transparent;
    text-shadow: 1px 1px 2px #5d00ff;
}
.header::after, .header--stuck::after {
	height: 0px;
	width: 100%;
	padding: 1rem;
	opacity: 1;
	display: flex;
	content: url('../images/lemon-purple.svg');
	color: white;
	position: absolute;
	z-index: 9;
}

/* dont let header push canvas down */
#container canvas {
	background-color: transparent;
	-ms-transform: translateY(-300px); /* IE 9 */
	-webkit-transform: translateY(-300px); /* Safari */
	transform: translateY(-300px);
}