.project-single {
	background-color: #fff;
	height: 100px;
	color: #fff;
	/*opacity: .95;*/
	z-index: 99;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    transform: translateX(0%);
    overflow: auto;
}
.pageSlider-leave {
  transform: translateX(0%);
}
.pageSlider-leave.pageSlider-leave-active {
  transform: translate3d(110%, 0, 0);
  transition: all 500ms;
}
.pageSlider-enter {
  transform: translateX(110%);
}
.pageSlider-enter.pageSlider-enter-active {
  transform: translateX(0%);
  transition: all 500ms;
}
.project-single::before {
    content: '';
}
.project-images__container {
    flex:auto;
    display:flex;
    align-items:center;	
    width: 80%;
    height: 50%;
    margin: 0 auto;
    
}
.project-images {
    cursor: default;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    height: 100%;
}
.project-images__item {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*top: 0;
    left: 0;*/
}
.project-images::-webkit-scrollbar {
    display: none;
}
.project-images__single {
    // height: auto;
    max-width: 95%;
    max-height: 85%;
    width: auto;
    -webkit-box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.2);
}
.project-about {
    color: #140026;
	padding: 1.5rem 2rem .5rem 2rem;
	width: 100%;
    box-sizing: border-box;
	background-color: #fff;
    font-family: Helvetica, sans-serif;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 0 10px 1px rgba(0,0,0,.2);
    cursor: default;
    z-index: 99;
}
.project-about__heading--primary {
    margin-bottom: 1.2rem;
    font-size: 1.5em;
    font-weight: 200;
    background: #fff;
    padding: .2rem 1rem .2rem .2rem;
    border-bottom: 1px solid;
    display: inline-block;
}
.project-about__heading--secondary {
    font-size: 1.1em;
    display: inline-block;
    font-weight: 200;
    margin-bottom: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding: 0.15rem 0.7rem 0.15rem 0.15rem;
}
.project-about__body {
    font-size: .95em;
    line-height: 1.4em;
    margin-bottom: 1rem;
    font-weight: 200;
}
.project-links {
    display: flex;
    align-items: center;
}
.project-about__link {
    text-decoration: none;
    margin-bottom: .5rem;
    margin-right: 1rem;
    font-size: 2em;
    color: #000;
    transition: all 0.2s;
        .fa {
            &:hover {
            color: #9e66ff;
            transform: scale(1.2);
            transition: all 0.3s;	
        }
    }
}
.project-about__container {
    display: flex;
    flex-direction: row;
}
.project-about__section {
    width: 50%;
    max-width: 225px;
}
.project-about__section--tech, .project-about__section--links {
    display: none;
}
.project-tech {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}
.project-tech__item {
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.project-tech__link {
    text-decoration: none;
    color: #000;
    display: flex;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    font-size: .95em;
    font-weight: 200;
    padding: .3rem .5rem;
}
.project-tech__link:hover {
    transition: all 0.2s;
    transform: scale(1.1)
}
@media screen and (min-width: 590px) {
    .project-about {
        padding: 2rem 3rem 0rem 3rem;
    }
    .project-about__section--tech {
        display: block;
    }
    .project-about__section--links {
        display: block;
        padding-left: 1rem;
    }
    .project-about__heading--primary {
        margin-bottom: 1.6rem;
    }
}
@media screen and (min-width: 720px) {
    .project-single {
        flex-direction: row;
    }
    .project-about {
        width: 40%;
        padding: 2rem;
        box-shadow: 2px 0 10px 1px rgba(0,0,0,.2);
    }
    .project-about__heading--primary {
        margin-bottom: 2rem;
    }
    .project-about__body {
        margin-bottom: 1.5rem;
    }
    .project-about__container {
        flex-direction: column;
    }
    .project-about__section {
        width: 90%;
        align-items: flex-start;
    }
    .project-about__section--links {
        padding-left: 0;
    }
    .project-images__container {
        width: 70%;
        height: 100%;
    }
    .project-images__single {
        width: 80%;
        height: auto;
        max-width: 600px;
    }
}