---
import Base from '../layouts/Base.astro';
import Scene from '../components/Scene.tsx';
---

<Base title="Jerry Walters">
  <main class="stage">
    <Scene client:only="react" />
  </main>
</Base>
