body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* RESET MY DUDES */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container {
    max-height: 100vh;
}

/* Chat Styles*/

body {
    overflow: hidden;
    /*background-color: #ccd4ff;*/
    background: #1a0033; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #230080, #28004d 25%, #1a0033 60%, #0d001a 90%);  
}

.shapes-container {
    transform: translateY(-300px);
    height: 100vh;
    width: 100vw;
    position: absolute;
}

/* dots */
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 150px;
    right: 400px;
    background-color: limegreen;
    position: absolute;
    /*animation: dot1 5s alternate ease-in-out infinite;*/
}

.shape1 {
    animation: gentle 12s ease-in-out 500ms infinite;
}

@keyframes gentle {
    from { transform: translate(0, 0) rotate(0deg) }
    50% { transform: translate(4px, 22px) rotate(-68deg) }
    to { transform: translate(0, 0) rotate(0deg) }
}

.shape2 {
    animation: gentler 14s ease-in-out 500ms infinite;
}

@keyframes gentler {
    from { transform: translate(0, 0) }
    25% { transform: translate(4px, 8px) }
    50% { transform: translate(2px, 5px) }
    75% { transform: translate(9px, 3px) }
    to { transform: translate(0, 0) }
}

.shape3 {
    animation: gentlest 10s ease-in-out 500ms infinite;
}

@keyframes gentlest {
    from { transform: rotate(0deg) translate(0, 0)}
    50% { transform: rotate(-24deg) translate(-18px, 8px) }
    to { transform: rotate(0deg) translate(0, 0) }
}

/*
.ellipse {
    position: absolute;
    background: radial-gradient(ellipse, transparent, transparent 7px, black 7px, black 10px, transparent 11px);
    background-size: 36px 40px;
    width: 200px;
    height: 20px;
}

.ellipse2 {
    top: 20px;
    left: 18px;
    background-position: 0px -20px;
}*/


.messages-container {
   box-shadow: inset 0px 3px 4px 0px rgba(0,0,0,0.14); 
}
.client-messages {
    padding: .75rem .75rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
    max-height: 325px;
}
.client-messages::-webkit-scrollbar { 
    display: none; 
}

.client-messages__item, .client-messages__item--isTyping {
    padding: .35rem 1rem;
    margin-bottom: .7rem;
    border-radius: 6px;
    max-width: 70%;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: .8em;
    line-height: 1.25em;
}
.client-messages__item--client {
    margin-left: auto;
    background-color: #ff457e;
    color: #fff;
}
.client-messages__item--uncle {
    margin-right: auto;
    background-color: #e0e0eb;
}
.client-messages__item--isTyping {
    margin-right: auto;
    content: ' ';
    background-color: #e0e0eb;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    width: 28px;
    min-height: 16px;
    display: flex;
    justify-content: center;
    padding: .5rem .5rem .2rem .5rem;;
}
.client-messages__item--isNotTyping {
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    /*transition: all 0.3s;*/
}

/* isTyping animation */
.client-messages__item--isTyping span {
    visibility: inherit;
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    margin: 0 2px;
    background: #9E66FF;
    border-radius: 10px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.8s infinite alternate;
}
.client-messages__item--isTyping span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.client-messages__item--isTyping span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 6px;
    height: 6px;
    border-radius: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 4px;
    height: 4px;
    opacity: 0.4;
    -webkit-transform: translateY(6px);
  }
}


/*.client-messages__item--isTyping:after {
  overflow: hidden;
  display: flex;
  align-items: center;
  -webkit-animation: ellipsis 1000ms steps(4,end) 50ms infinite;      
  animation: ellipsis 1000ms steps(4,end) 50ms infinite;
  content: url('./images/ellipses.svg'); 
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.7em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.7em;    
  }
}*/

/* chat form */
.chat-header--client {
    background-color: #9e66ff;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 0 .5rem;
}
.chat-window {
    width: 290px;
    height: 400px;
    position: absolute;
    bottom: 50px;
    right: 20px;
    background-color: #f7f7ff;
    border-radius: 5px;
    box-shadow: 1px 3px 8px 0px rgba(90, 84, 133,0.2); 
    z-index: 11;
    display: flex;
    flex-direction: column;
    visibility: visible;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    overflow: hidden;
}
.chat-window.hidden {
    visibility: hidden;
    opacity: 0.5;
    height: 0;
    width: 0;
    transition: all 0.25s ease-in-out;
}
.uncle-icon {
    background-color: deepskyblue;
    content: '';
    height: 25px;
    width: 25px;
    /*border: solid 1px darkslateblue;*/
    border-radius: 20px;
}
.uncle-name {
    color: white;
    font-family: 'Helvetica', "sans-serif";
    font-weight: 200;
    font-size: .9em;
    margin-left: .5rem;
}
.uncle-status {
    position: absolute;
    right: 12px;
    content: '';
    /*background-color: greenyellow;*/
    /*border: 1px solid greenyellow;*/
    height: 9px;
    width: 9px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.uncle-status--online {
     background-color: #1df737;
}
.uncle-status--offline {
     background-color: #ff237b;
}
.chat-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    content: 'open';
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
    z-index: 11;
}
.chat-form {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background-color: #ffdafa;
    padding: 1rem 1rem .5rem 1rem;
    display: flex;
}
.chat-form__input {
    width: 80%;
    background: transparent;
    border: none;
    padding-bottom: .1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    color: #ccc;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 0px #000;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.25em;
    overflow-y: scroll;
    max-height: 120px;
}
.chat-form__input:focus {
    outline: none;
}
.chat-form__submit {
    position: absolute;
    bottom: 10px;
    right: 10px;

}
.chat-form--client {
    background-color:  #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: .6rem .8rem .6rem 1rem;
    font-size: .85em;
}

/* Projects */
.project-single {
	background-color: blue;
	height: 100px;
	color: #fff;
	opacity: .9;
	z-index: 99;
	position: absolute;
	top: 0;
	-ms-transform: translateX(calc(200%)); 
    -webkit-transform: translateX(calc(200%])); 
	transform: translateX(calc(200%));
	transition: 0.5s;
	width: 92%;
	height: 100vh;
	display: flex;
}
.project-images {
	display: flex;
	align-items: center;
	padding-top: 4rem;
	overflow-y: scroll;
	flex-direction: column;
	width: 60%;
}
.project-images__single {
	max-width: 60%;
	margin-bottom: 10%;
}
.project-about {
	padding: 3%;
	width: 35%;
	background-color: salmon;
}
.slide-in {
	-ms-transform: translateX(9%);
	-webkit-transform: translateX(9%); 
	transform: translateX(9%);
    transition: 0.5s;
}

/* Header */

.header {
	background-color: #e1f1ff;
	height: 300px;
	color: #0c1d00;
	opacity: 0.9;
	z-index: 9;
	position: relative;
	-ms-transform: translateY(calc(-100%)); /* IE 9 */
	-webkit-transform: translateY(calc(-100%)); /* Safari */
	transform: translateY(calc(-100%));
	transition: 0.5s;
}
.header__top {
	background: rgba(255,0,255,.5);
	opacity: 0.85;
	height: 300px;
	z-index: 9;
}
/*.header__bottom {
	background: rgba(0,0,0,0);
	height: 40px;
	color: white;
	padding: 1rem;
}*/
.header:hover {
	-ms-transform: translateY(0); /* IE 9 */
	-webkit-transform: translateY(0); /* Safari */
	transform: translateY(0);
}
.header--stuck:hover {
    -ms-transform: translateY(-100%); /* IE 9 */
	-webkit-transform: translateY(-100%); /* Safari */
	transform: translateY(-100%);
}


.header::after, .header--stuck::after {
	height: 0px;
	width: 100%;
	padding: 1rem;
	opacity: 1;
	display: flex;
	content: url('./images/lemon-purple.svg');
	color: white;
	position: absolute;
	z-index: 9;
}

/* dont let header push canvas down */
canvas {
	background-color: transparent;
	-ms-transform: translateY(-250px); /* IE 9 */
	-webkit-transform: translateY(-250px); /* Safari */
	transform: translateY(-250px);
}