body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* RESET MY DUDES */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container {
    max-height: 100vh;
}

/* Chat Styles*/

body {
    overflow: hidden;
}

.chat-header--client {
    width: 100%;
    background-color: #9e66ff;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 0 .5rem;
}
.uncle-icon {
    background-color: deepskyblue;
    content: '';
    height: 25px;
    width: 25px;
    /*border: solid 1px darkslateblue;*/
    border-radius: 20px;
}
.uncle-name {
    color: white;
    font-family: 'Helvetica', "sans-serif";
    font-weight: 200;
    font-size: .9em;
    margin-left: .5rem;
}
.uncle-status {
    position: absolute;
    right: 10px;
    content: '';
    /*background-color: greenyellow;*/
    /*border: 1px solid greenyellow;*/
    height: 8px;
    width: 8px;
    border-radius: 5px;
    transition: all 0.3s;
}
.uncle-status--online {
     background-color: greenyellow;
}
.uncle-status--offline {
     background-color: orangered;
}
.chat-window {
    width: 290px;
    height: 400px;
    position: absolute;
    bottom: 50px;
    right: 20px;
    background-color: #f7f7ff;
    border-radius: 5px;
    box-shadow: 1px 3px 8px 0px rgba(90, 84, 133,0.2); 
}
.hidden {
    display: none;
}
.messages-container {
   box-shadow: inset 0px 3px 4px 0px rgba(0,0,0,0.14); 
}
.client-messages {
    padding: .75rem .75rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
    max-height: 325px;
}
.client-messages::-webkit-scrollbar { 
    display: none; 
}

.client-messages__item {
    padding: .35rem 1rem;
    margin-bottom: .7rem;
    border-radius: 6px;
    max-width: 70%;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: .8em;
    line-height: 1.25em;
}
.client-messages__item--client {
    margin-left: auto;
    background-color: #ff457e;
    color: #fff;
}
.client-messages__item--uncle {
    margin-right: auto;
    background-color: #e0e0eb;
}

/* chat form */
.chat-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    content: 'open';
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
}
.chat-form {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background-color: #ffdafa;
    padding: 1rem 1rem .5rem 1rem;
    display: flex;
}
.chat-form__input {
    width: 80%;
    background: transparent;
    border: none;
    font-size: .9em;
    padding-bottom: .1rem;
    color: #ccc;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 0px #000;
}
.chat-form__input:focus {
    outline: none;
}
.chat-form__submit {
    position: absolute;
    bottom: 10px;
    right: 10px;

}
.chat-form--client {
    background-color:  #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: .6rem .8rem .6rem 1rem;
    font-size: .85em;
}

/* Projects */
.project-single {
	background-color: blue;
	height: 100px;
	color: #fff;
	opacity: .9;
	z-index: 20;
	position: absolute;
	top: 0;
	-ms-transform: translateX(calc(200%)); 
    -webkit-transform: translateX(calc(200%])); 
	transform: translateX(calc(200%));
	transition: 0.5s;
	width: 92%;
	height: 100vh;
	display: flex;
}
.project-images {
	display: flex;
	align-items: center;
	padding-top: 4rem;
	overflow-y: scroll;
	flex-direction: column;
	width: 60%;
}
.project-images__single {
	max-width: 60%;
	margin-bottom: 10%;
}
.project-about {
	padding: 3%;
	width: 35%;
	background-color: salmon;
}
.slide-in {
	-ms-transform: translateX(9%);
	-webkit-transform: translateX(9%); 
	transform: translateX(9%);
    transition: 0.5s;
}

/* Header */

.header {
	background-color: #e1f1ff;
	height: 300px;
	color: #0c1d00;
	opacity: 0.9;
	z-index: 99;
	position: relative;
	-ms-transform: translateY(calc(-100%)); /* IE 9 */
	-webkit-transform: translateY(calc(-100%)); /* Safari */
	transform: translateY(calc(-100%));
	transition: 0.5s;
}
.header__top {
	background: rgba(255,0,255,.5);
	opacity: 0.85;
	height: 300px;
	z-index: 11;
}
/*.header__bottom {
	background: rgba(0,0,0,0);
	height: 40px;
	color: white;
	padding: 1rem;
}*/
.header:hover {
	-ms-transform: translateY(0); /* IE 9 */
	-webkit-transform: translateY(0); /* Safari */
	transform: translateY(0);
}
.header--stuck:hover {
    -ms-transform: translateY(-100%); /* IE 9 */
	-webkit-transform: translateY(-100%); /* Safari */
	transform: translateY(-100%);
}


.header::after, .header--stuck::after {
	height: 0px;
	width: 100%;
	padding: 1rem;
	opacity: 1;
	display: flex;
	content: url('./images/lemon-purple.svg');
	color: white;
	position: absolute;
	z-index: 11;
}

/* dont let header push canvas down */
canvas {
	background-color: #fff;
	-ms-transform: translateY(-300px); /* IE 9 */
	-webkit-transform: translateY(-300px); /* Safari */
	transform: translateY(-300px);
}